Package: com.iosrouter.crane-cli
Name: crane-cli
Version: 2.0.1
Architecture: iphoneos-arm
Description: A command line interface for the Crane jailbreak tweak, with more..
Maintainer: iosrouter
Author: iosrouter
Section: System
Tag: role::hacker
depends: mobilesubstrate, com.opa334.crane, com.muirey03.libmryipc