Package: com.iosrouter.crane-cli
Name: crane-cli
Description: A command line interface for the Crane jailbreak tweak
Maintainer: iosrouter
Author: iosrouter
Section: System
Tag: role::hacker
Architecture: iphoneos-arm
Version: 1.0.2
Installed-Size: 744
