name: Build CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@main

      - name: Checkout theos/theos
        uses: actions/checkout@main
        with:
          repository: theos/theos
          ref: master
          submodules: recursive
          path: theos

      - name: Checkout theos/sdks
        uses: actions/checkout@main
        with:
          repository: theos/sdks
          sparse-checkout: iPhoneOS16.5.sdk
          path: theos/sdks

          
      - name: Checkout MRYIPC/master
        uses: actions/checkout@main
        with:
          repository: iosrouter/MRYIPC
          path: MRYIPC
          
      - name: Setup libs & build package
        run: |
          brew install make xz ldid
          cd MRYIPC
          chmod +x install.sh
          THEOS=../theos ./install.sh
          cd ../
          THEOS=theos gmake clean package FINALPACKAGE=1 THEOS_PACKAGE_SCHEME=rootless
          THEOS=theos gmake clean package FINALPACKAGE=1
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3
        with:
          path: packages/*.deb
